.contact {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.container {
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}