.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin: 0 auto;
}

/* .contact {
    margin-bottom: 8rem;
} */

/* .container {
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    text-align: center;
} */

/* .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
} */